[Unit]
Description=HAProxy Load Balancer
After=syslog.target network.target

[Service]
EnvironmentFile=/etc/sysconfig/haproxy-1.6
ExecStart=/opt/haproxy-1.6/sbin/haproxy-systemd-wrapper -f /etc/haproxy-1.6/haproxy.cfg -p /run/haproxy-1.6.pid $OPTIONS
ExecReload=/bin/kill -USR2 $MAINPID

[Install]
WantedBy=multi-user.target
